.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  
}

.title {
  background-color: #005638;
  text-align: center;
  color: #f9f9f9;
  border-top-left-radius: 20px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #005638;
  background-color: #f9f9f9;
  color: #005638;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #005638;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #8AB339;
}

.demanda-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #005638;
}

.demanda-title {
  margin-top: 0;
  color: #f9f9f9;
}

.demanda-tittle-container {
  background-color: #005638;
  text-align: center;
  color: #f9f9f9;
  border-top-left-radius: 20px;
}

.error {
  color: red;
  text-align: center;
}

.loading {
  text-align: center;
  color: #00814E;
  font-size: 18px;
  margin-top: 20px;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.modal-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button {
  background-color: #cc0000;
  color: #fff;
}

.confirm-button:hover {
  background-color: #ff4d4d;
}

.cancelButton {
  background-color: #ED8B16;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #00814E;
}

.delete-button {
  background-color: #cc0000;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff4d4d;
}